<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- description -->
    <meta
      name="description"
      content="
        Los Platos is a restaurant catalogue apps that can help you to find your favorite restaurant. 
        You can also add your favorite restaurant to your favorite list. 
        This apps is made by Rony Wahyu.
      "
    />

    <!-- icon -->
    <link rel="icon" href="./images/logo.png" />
    <title>Restaurant Apps Starter Project</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <!-- manifest -->
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#ed8b2a" />
  </head>
  <body>
    <!-- <h1>Restaurant Apps Starter Project</h1> -->
    <header>
      <a class="skip-to-content-link" href="#serviceSection">
        Skip to content
      </a>
      <nav class="nav">
        <a href="">
          <div class="nav__logo">
            <img src="./images/logo.png" alt="" />
            <strong>Los Platos</strong>
          </div>
        </a>
        <ul class="nav__list">
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a target="_blank" href="https://github.com/ronywahyuu">About Us</a>
          </li>
        </ul>
        <button id="hamburger" class="hamburger" aria-label="navigation-menu">
          ☰
        </button>
      </nav>

      <div class="offcanvas">
        <a id="close" class="offcanvas__btn--close">X</a>
        <ul class="offcanvas__list">
          <li class="offcanvas-list"><a href="#/">Home</a></li>
          <li class="offcanvas-list"><a href="#/favorite">Favorite</a></li>
          <li class="offcanvas-list">
            <a target="_blank" href="https://github.com/ronywahyuu">About Us</a>
          </li>
        </ul>
      </div>
    </header>

    <main class="" id="mainContent">
      <!-- <hero-section></hero-section> -->

      <!-- <service-section></service-section> -->

      <!-- <explore-section></explore-section> -->
    </main>

    <footer class="footer">
      <!-- logo -->
      <div class="footer__container">
        <p>
          Copyright &copy; 2023. All rights reserved. Los Platos by Rony Wahyu
        </p>
      </div>
    </footer>
  </body>
</html>
