
$color-dark: #2c323a;
// $color-orange: #ed8b2a;
$color-orange: #da751d;

$color-brown: #8A490F;

$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// font face from system
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
  font-size: 16px;

  @media only screen and (min-width: $breakpoint-tablet) {
    font-size: 100%;
  }

  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

.container {
  // margin-top: 5rem;
  padding: 0.5rem 1rem;

  // breakpoint for tablet
  @media only screen and (min-width: $breakpoint-tablet) {
    padding: 1rem 2rem;
  }
}

hr{
  border: 0;
  border-top: 1px solid #dad9d9;
  margin-bottom: 1rem;
}

// touch target dimensions element should be at least 48px high and wide
button, 
a,
input,
text,
textarea{
  min-height: 44px;
  min-width: 44px;
}

textarea{
  min-height: 100px;
}

// skip to content
.skip-to-content-link {
  text-decoration: none;
  color: white;
  position: absolute;
  background: #e77e23;
  left: 0;
  padding: 10px;
  position: absolute;
  transform: translateY(-110%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}