.explore-section {
  background-color: $color-dark;
  border-radius: 0px;
  // margin-bottom: 2rem;
  margin: 2rem 0;
  padding: 2rem 1rem;
  &__heading {
    padding-top: 2rem;
    text-align: center;
    color: white;
    h2 {
      position: relative;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      span {
        svg {
          position: absolute;
          top: 0;
        }
      }
    }
    p {
      font-size: 0.7rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    // padding: 0rem 2rem 5rem 2rem;
    // breakpoint for tablet
    @media only screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 3rem;
    }
    // breakpoint for desktop
    @media only screen and (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

 

  // explore-section for tablet and desktop
  @media only screen and (min-width: $breakpoint-tablet) {
    border-radius: 10px;
    margin: 2rem;
    &__heading {
      h2 {
        font-size: 2rem;
      }
      p {
        display: block;
        font-size: 0.9rem;
        color: rgb(168, 168, 168);
        font-weight: 200;
        width: 55%;
        margin: 0 auto;
      }
    }

    
  }
}
